*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  background-color: #000000;
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}

.mainPage{
  padding-top: 70px;
}

.card[data-image]{
  background-image: attr(data-image url);
  width: 400px;
  height: 150px;
}

.splide__track{
  overflow-y: visible !important;
}

.splide__arrow {
  height: 100% !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  color: white !important;
}